<li class="dropdown">
  <a href="#!" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Developers
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
      <li role="separator" class="divider"></li>
      <li class="dropdown-submenu">
        <a href="#">Team Members <span class="caret"></span> </a>
        <ul class="dropdown-menu">
          <li><a href="/Bhavika">Bhavika Padidala</a></li>
          <li><a href="/Arun">Arun Kumar Nallabolu</a></li>
          <li><a href="/Durga">Durga Prasad Kallem</a></li>
        </ul>
      </li>
  </ul>
</li>