
<li class="dropdown-submenu">
    <a href="#">Developer Sites
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li>
           
  <a href="/about/t5/a">Bhavika Padidala</a>
        </li>
        <li>
          
            <a href="/about/t5/b">Arun Kumar Nallabolu
            </a>
        </li>
        <li>
           
            <a href="/about/t5/c">Durga Prasad Kallem
            </a>
        </li>
    </ul>
</li>