<!-- Developer Bhavika Padidala -->
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <br>
      <a href="pilot/create" class="btn btn-primary new">
        Create a New Pilot
      </a>
    </br>
      <h2>Recent Pilot entries</h2>
      <p>There are
       <strong> <%= pilots.query.length %></strong> pilots. 
      </p>
<table class="table table-dark">
  <thead>
    <tr>
      <td>ID</td>
      <td>Last Name</td>
      <td>First Name</td>
      <td>Hours Flown</td>
      <td>Is Current</td>
   <td style="text-align:left">------------Other Options-------</td>   
    </tr>
  </thead>
  <% for (var i = 0; i <= pilots.query.length-1; i++) {   
  pilot = pilots.query[i];   %>
  <tr>
    <td><%=  pilot._id %></td>
    <td><%=pilot.lastName%></td>
    <td><%=pilot.firstName%></td>
    <td> <%=pilot.hoursFlown%></td>
    <td><%=pilot.isCurrent%></td>
    <td>
      <a href="/pilot/delete/<%= pilot._id  %>" class="btn btn-danger"> Delete </a>
      <a href="/pilot/details/<%= pilot._id %>" class="btn btn-info"> Details </a>
      <a href="/pilot/edit/<%= pilot._id %>" class="btn btn-warning"> Edit </a>
    </td>
  </tr>          
    </div>
  </div>
  <% } %>
</table>
</div>
</div>
</div>