<!-- Developer Bhavika Padidala -->
<div class=row>
  <div class="col col-xs-12">

    <div class="form-group">

      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" name="firstName" value="<%= pilot.firstName %>">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" name="lastName" value="<%= pilot.lastName %>" required>
    </div>

    <div class="form-group">
      <label for="hoursFlown">Flying time</label>
      <input type="number" class="form-control" id="hoursFlown" name="hoursFlown" value="<%= pilot.hoursFlown %>" required>
    </div>

    <div class="form-group">
      <label for="isCurrent">Is on Duty?</label>
      <input type="boolean" class="form-control" id="isCurrent" name="isCurrent" value="<%= pilot.isCurrent %>" required>
    </div>
  </div>
</div>
<hr>



<!-- PUT CLIENT SIDE CODE HERE -->
<script>  
// prevent submission when hitting enter key - optional, but user-friendly 
  document.forms[0].onkeypress = function (e) {
    var key = e.charCode || e.keyCode || 0;
    if (key == 13) {
      e.preventDefault();
    }
  }

// END CLIENT SIDE CODE  (close the script tag)
</script>