<!-- Developer Arun Kumar-->
<br/>
<br/>
<h2>Flight Details</h2>
<br/>ID:
<%=  flight._id %>
  <br> Name:
  <%=flight.name%>
    <br/> Starting Point:
    <%=flight.startingPoint%>
      <br/> Ending Point:
      <%=flight.endingPoint%>
        <br/> Starting Time:
        <%=flight.startingTime%>
          <br/> Duration Hours:
          <%=flight.durationHours%>
            <br/> Number of Passengers:
            <%=flight.numPassengers%>
              <br/> Pilot ID:
              <%=flight.pilotId%>
                <br/> Plane ID:
                <%=flight.planeId%>
                  <br/>
                  <br/>
                  </div>
                  
                    <br/>
                    <br/>
                    <form method="get" action="/flight">
                      <input type="submit" value="Return to list" class="btn btn-caution" />
                    </form>