<!-- Developer Arun Kumar-->
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <br>
      <a href="flight/create" class="btn btn-primary new">
        Create a New Flight
      </a>
    </br>
      <h2>Recent flight entries</h2>
      <p>There are
       <strong> <%= flights.query.length %></strong> flights. 
      </p>
      <table class="table table-dark">
     
        <tr>
            
              <!-- <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="text-muted pull-right"></div>
                <div class="panel-body"> -->
                 
                 
            <th>  ID  </th>
            <th>  Name </th>
            <th>  Starting Point </th> 
            <th>  Ending Point </th>
            <th>  Duration (Hours)</th>
            <th>  startingTime</th>
            <th>  NumPassengers</th>
            <th>  Pilot ID</th> 
            <th>  Plane ID</th>
            <th style="text-align:left">------------Other Options-------</th>
        </tr>
        <% for (var i = 0;i < flights.query.length; i++) {   
          flight = flights.query[i];   %>
        <tr>
      
            <td scope="row"><%=  flight._id  %></td>
            <td> <%=flight.name%></td>
            <td>  <%=flight.startingPoint%></td>
            <td>  <%=flight.endingPoint%></td>
            <td>   <%=flight.durationHours%></td>
            <td><%=flight.startingTime%></td>
            <td><%=flight.numPassengers%></td>
            <td> <%=flight.pilotId%></td>
            <td> <%=flight.planeId%></td>
            <td>
                <a href="/flight/delete/<%= flight._id  %>" class="btn btn-danger"> Delete </a>
                <a href="/flight/details/<%= flight._id %>" class="btn btn-info"> Details </a>
                <a href="/flight/edit/<%= flight._id %>" class="btn btn-warning"> Edit </a>
          </td>
        </tr>
      
                  </div>
              </div>
              <% } %>
            </tr>
            </table>
          </div>
        </div>
      </div>