<!-- main  -->
<!-- Developer Arun Kumar-->
<div class=row>
  <div class="col col-xs-12">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" value="<%= flight.name %>" required>
    </div>
    <div class="form-group">
      <label for="startingPoint">Starting Point</label>
      <input type="text" class="form-control" id="startingPoint" name="startingPoint" value="<%= flight.startingPoint %>" required>
    </div>
    <div class="form-group">
      <label for="endingPoint">Ending Point</label>
      <input type="text" class="form-control" id="endingPoint" name="endingPoint" value="<%= flight.endingPoint %>" required>
    </div>
    <div class="form-group">
      <label for="startingTime">Start Time</label>
      <input type="text" class="form-control" id="startingTime" name="startingTime" value="<%= flight.startingTime %>" required>
    </div>
    <div class="form-group">
      <label for="durationHours">Duration Hours</label>
      <input type="number" class="form-control" id="durationHours" name="durationHours" value="<%= flight.durationHours %>" required>
    </div>
    <div class="form-group">
      <label for="numPassangers">Number of Passengers</label>
      <input type="number" class="form-control" id="numPassengers" name="numPassengers" value="<%= flight.numPassengers %>" required>
    </div>
    <div class="form-group">
      <label for="pilotId">Pilot ID</label>
      <input type="number" class="form-control" id="pilotId" name="pilotId" value="<%= flight.pilotId %>" required>
    </div>
    <div class="form-group">
      <label for="planeId">Plane ID</label>
      <input type="number" class="form-control" id="planeId" name="planeId" value="<%= flight.planeId %>" required>
    </div>
  </div>
</div>
<hr>


<!-- PUT CLIENT SIDE CODE HERE -->
<script>  

  // prevent submission when hitting enter key - optional, but user-friendly 
  document.forms[0].onkeypress = function (e) {
    var key = e.charCode || e.keyCode || 0;
    if (key == 13) {
      e.preventDefault();
    }
  }

// END CLIENT SIDE CODE  (close the script tag)
</script>