<!-- Developer Durga Prasad Kallem -->
<br/>
<br/>
<h2>Confirm Deletion of Plane</h2>
<br/>
<br/> ID:
<%=  plane._id %>
  <br> TailNumber:
  <%=plane.tailNumber%>
    <br/> NumSeats:
    <%=plane.numSeats%>
      <br/>FuelCapacity:
      <%=plane.fuelCapacity%>
        <br/>
        <br/>
          </div>
            <br/>
            <br/>

            <form method="get" action="/plane">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>

            <br/>
            <form method="POST" action="/plane/delete/<%= plane._id %>">
              <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
            </form>