<!-- Developer Durga Prasad Kallem -->
<br/>
<br/>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="plane/create" class="btn btn-primary new">
        Create a New Plane
      </a>
      <h2>Recent Plane Entries</h2>
      <p>There are
        <%= planes.query.length %> planes.
          <br/>
      </p>
<table class="table table-dark">
  <thead>
    <tr>
      <td>ID</td>
      <td>Tail Number</td>
      <td>Number Of Seats</td>
      <td>Fuel Capacity</td>
      <td style="text-align:left">----------Other Options------</td>
    </tr>
  </thead>
  <% for (var i = 0; i <= planes.query.length-1; i++){   
  plane = planes.query[i];   %>
      <tr>
        <td><%=  plane._id %></td>
        <td><%=plane.tailNumber%></td>
        <td><%=plane.numSeats%></td>
        <td><%=plane.fuelCapacity%></td>
        <td>
            <a href="/plane/delete/<%= plane._id  %>" class="btn btn-danger"> Delete </a>
            <a href="/plane/details/<%= plane._id %>" class="btn btn-info"> Details </a>
            <a href="/plane/edit/<%= plane._id %>" class="btn btn-warning"> Edit </a>
        </td>
      </tr>
                    
    </div>
  </div>
  <% } %>
</table>
</div>
</div>
</div>