<!-- Developer Bhavika Padidala-->
<div class="jumbotron" style=" background-color:rgb(223, 222, 241); width: auto">
    <div class="container">
        <div style="text-align:center; margin-top: 60px;">
        
                <div class="img-sec"> <img class="act-img" src="https://imgur.com/tisMCIe.jpg">
             <h2 class="name-head">Bhavika Padidala</h2>
        </div>
        <p>Contact Information</p>
        <p><a href="https://github.com/BhavikaRao" target="_blank">
            <img id="sm-icon" src="https://imgur.com/pMVKKHV.jpg">
          </a>
          <a href="https://bitbucket.org/Bhavika6/" target="_blank">
            <img id="sm-icon" src="https://imgur.com/1WVmHCz.jpg" >
           </a>
       
          <a href="https://www.linkedin.com/in/bhavika-padidala-b95358158" target="_blank">
           <img id="sm-icon" src="https://imgur.com/E4RMPTv.jpg" >
           </a>
        </p>
       
        <h3 id="sub-head" class="title-head" text-align="left" ><b>1. Current</b></h3>
        <p>
        I am a newly enrolled student for masters at NWMSU for spring 2018.
    </p>
          
        <h3 id="sub-head" class="title-head" ><b>2. Background</b></h3>
        <p> I'm from Warangal, India.</br>
                I have my bachelors degree in Information Technology from J.B.Institute of Engineering and Management.</br>
                I received my bachelor's degree in April, 2016.</br>
                During my Under Graduation I was offered a job in Ultimo Software Solutions.</br>
                It is a U.S. based company located in Hyderabad.</br>
                We worked for few projects like construction of interfaces using dellboomi and Integration of internet of things with salesforce.</p>
       
        <h3 id="sub-head-long" class="title-head" ><b>3. Plans</b></h3>
        <p>I have a long list of future plans, but primarily I want to be a pivotal member or a founder of a start up company based on Internet of things, Mulesoft.</br>
        I want to spread it globally and establish it with some strong content.</p>
    </div>
  </div>