<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- Developer Arun Nallabolu-->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Arun Kumar Reddy Nallabolu</title>

        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/mystyle.css" rel="stylesheet">


    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Arun's Intro</a>
            </div>
           
        </nav>



        <img class="img-circle" src= "https://imgur.com/gYYzJmV.jpg" alt="Arun">
        <div class="row">
            <div class="col-md-6">
                <h1>
                    Arun Nallabolu
                </h1>
                <h2>
                    Currently:
                </h2>
                <header>
                    <p>

                        I m glad to be part of Northwest Missouri state university for spring 2018
                    </p>
                </header>
                <h2>
                    Background:
                </h2>
                <p>
                    I received my bachelors degree from Jawaharlal Nehru Technological University in Electronics and Communication Engineering
                </p>
                <h2>
                    Plans:
                </h2>
                <p>
                    I want to see myself as Software Develpoer
                </p>

            </div>
            <div class="col-md-6">
                <aside>
                    <h2>
                        Others:
                    </h2>
                    <section>
                        <p>
                            I want to explore more on mobile computing and i love playing cricket. And my hobbies are driving, watching movies.My favourite
                            programming languages are java and i need to explore more on it.
                        </p>
                    </section>
                </aside>
                <footer><h3>
                        Copyrights are Reserved</h3></footer>
            </div>
        </div>
        <div class="row">
             <div class="col-md-2"></div>
  

        <div class="embed-responsive embed-responsive-4by3 col-md-8">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/2OcbJkQY-SA"></iframe>
        </div>
             <div class="col-md-2"></div>
</div>



        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>