<!-- Developer Durga Prasad Kallem-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Durga Prasad Kallem</title>

        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/mystyle.css" rel="stylesheet">


    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Durga</a>
            </div>
        
        </nav>



        <img class="img-circle" src= "https://imgur.com/5rbtgrQ.jpg" alt="Durga">
        <div class="row">
            <div class="col-md-6">
                    <h1>ABOUT </h1>
                    <h4>EDUCATION</h4>      
                    <p>Current student at Northwest Missouri State University for spring batch in Applied Computer Science.</p>
                    <h4>INTEREST</h4>
                          
                    <p>Playing cricket,badminton, watching sports.</p>
                    <h4>CONTACT ME</h4>
                    <p>Contact me at durga@gmail.com</p>
                    <h4>SKILLS</h4>
                    <p>I love cooking</p>
            </div>
        </div>
        


        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>